.tile {
    border: 8px solid lightslategray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 320px;
    overflow: hidden;
    margin: 20px;
    position: relative;
}

.tile::after {
    border-color: red;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightseagreen;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.picture {
    height: 320px;
    width: 320px;
}

.name {
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
}

.flipped::after {
    opacity: 1;
}
